.photo-grid {
  max-width: 1280px;
  padding: 0 48px 0 48px;
  box-sizing: border-box;
  margin: 0 auto 92px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1024px) {  
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 850px) { 

  .photo-grid {
    padding-left: 24px;
    padding-right: 24px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 675px) {
  .photo-grid {
    padding-left: 16px;
    padding-right: 16px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 500px) { 
  .photo-grid {
    padding-left: 16px;
    padding-right: 16px;
    grid-template-columns: 1fr;
  }
}