@import url(./vendor/normalize.css);
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Inter-Regular.woff2") format("woff2"),
       url("./fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("./fonts/Inter-Black.woff2") format("woff2"),
       url("./fonts/Inter-Black.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Inter-Bold.woff2") format("woff2"),
       url("./fonts/Inter-Bold.woff") format("woff");
}

.page {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  background-color: #2A2C2F;
  margin: 0;
  color: #fff;
}

.header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 28px 0 0 48px;
}

.header__lang-links {
  display: flex;
  list-style: none;
  margin: 46px 48px 0 0;
  padding: 0;
  color: #fff;
  column-gap: 18px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.header__lang-link {
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header__lang-link:hover {
  opacity: 0.8;
}


.header__lang-link_active {
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* секция lead */

.lead {
  max-width: 1280px;
  margin: 0px auto ;
  padding: 56px 0 92px 0;
}

.lead__title {
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
}

.lead__subtitle {
  text-align: center;
  margin: 32px auto 64px auto;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
}

.lead__wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 984px;
}

.lead__image {
  width: 100%;
}

.lead__caption {
  margin: 8px 0 0 148px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
}

/* Intro section */

.intro {
  margin: 0 auto;
  max-width: 1280px;
}

.intro__title {
  max-width: 690px;
  margin: 0 auto 40px 148px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

.intro__text {
  margin: 0 auto 33px 148px;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
  max-width: 690px;
}

.intro__list {
  margin: 0 0 92px 148px;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
}

.intro__list-item_text_bold {
  font-weight: 700;
}

/* section photo-grid */
.photo-grid {
  max-width: 1280px;
  padding: 0 48px 0 48px;
  box-sizing: border-box;
  margin: 0 auto 92px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
}

/* section places */

.places {
  max-width: 1280px;
  margin: 0 auto 0 auto;
}

.place {
  margin: 80px 148px 0 148px;
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
}

.place__title {
  margin: 0;
  padding: 0 ;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

.place__website{
  align-self: end;
}

.place__website-url-heading {
  margin: 0 0 12px 0;
  padding: 0;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #AAA;
}

.place__website-link {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-underline-offset: 4px;
}

.place__website-link:hover {
  opacity: 0.8;
}

.place__image {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.place__paragraph {
  margin: 0 0 26px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
}

/* cover */

.cover {
  max-width: 1280px;
  margin: 92px auto;
}

.cover__wrapper {
  margin: 0 auto;
  background-image: url('./img/cover-trains.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1184px;
  position: relative;
}

.cover__title {
  position: relative;
  max-width: 560px;
  text-align: center;
  margin: 0 auto 32px auto;
  padding: 245px 0 0 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  z-index: 1;
}

.cover__subtitle {
  position: relative;
  margin: 0 auto;
  padding: 0 0 245px 0;
  text-align: center;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  z-index: 1;
}

.cover__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  top: 0;
  right: 0;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}


/* footer */

.footer {
  max-width: 1280px;
  margin: 0 auto 24px auto;
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  margin: 0 0 0 48px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  list-style: none;
}

.footer__copyright {
  margin: 0 48px 0 0;
  padding: 0;
}

.footer__link {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
}


@media screen and (max-width: 1080px) { 

  .intro__title {
    margin-left: 48px;
    margin-right: auto;
  }
  .intro__text {
    margin-left: 48px;
    margin-right: auto;
  }
  .intro__list {
    margin-left: 48px;
    margin-right: auto;
  }  
  .place {
    margin-left: 48px;
    margin-right: 48px;
  }

  .lead__caption {
    margin-left: 48px;
  }
}

@media screen and (max-width: 1024px) {  
  .lead {
    padding-top: 48px;
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .lead__wrapper {
    max-width: 928px;
  }

  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }

  .cover__title {
    padding: 195px 0 0 0;
  }
  
  .cover__subtitle {
    padding: 0 0 195px 0;
  }

  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }

  .lead__caption {
    margin-left: 48px;
  }
}

@media screen and (max-width: 850px) { 
  .lead {
    padding-bottom: 88px;
  }
  
  .header__logo {
    margin: 28px 0 0 24px;
  }

  .header__lang-links {
    margin: 46px 24px 0 0;
  }

  .lead__caption {
    margin-left: 24px;
  }

  .intro__title {
    margin-left: 24px;
  }

  .intro__text {
    max-width: none;
    margin-left: 24px;
    margin-right: 24px;
  }

  .intro__list {
    margin-left: 24px;
    margin-bottom: 88px;
  } 

  .photo-grid {
    padding-left: 24px;
    padding-right: 24px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 88px;
  }
  
  .place {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__website-url-heading {
    font-size: 12px;
    line-height: 12px;
  }
  
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .cover__title {
    padding: 115px 0 0 0;
  }
  
  .cover__subtitle {
    padding: 0 0 115px 0;
  }

  .footer__nav {
    margin: 0 0 0 24px;
  }
  
  .footer__copyright {
    margin: 0 24px 0 0;
    padding: 0;
  }
}

@media screen and (max-width: 710px) {
  .footer__nav {
    margin: 0 0 0 16px;
    column-gap: 10px;
  }
  
  .footer__copyright {
    margin: 0 16px 0 0;
  }
}

@media screen and (max-width: 675px) {
  .lead {
    padding-bottom: 64px;
  }

  .header__logo {
    margin: 16px 0 0 16px;
  }

  .header__lang-links {
    margin: 30px 16px 0 0;
  }

  .lead__title {
    font-size: 60px;
    line-height: 60px;
  }

  .lead__subtitle {
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 20px;
  }

  .lead__caption {
    margin-left: 16px;
  }

  .intro__title {
    margin-left: 16px;
  }

  .intro__text {
    margin-left: 16px;
  }

  .intro__list {
    margin-left: 16px;
    margin-bottom: 64px;
  } 

  .photo-grid {
    padding-left: 16px;
    padding-right: 16px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 64px;
  }

  .place {
    grid-template-columns: 1fr;
    margin-left: 16px;
    margin-right: 16px;
  }

  .cover {
    margin: 90px 0 88px 0;
  }

  .footer {
    display: block;
  }
  
  .footer__nav {
    justify-content: space-evenly;
  }

  .footer__copyright {
    margin: 16px 0 0 0;
    text-align: center;
  }

}

@media screen and (max-width: 610px) {
  .cover__title {
    padding: 100px 0 0 0;
    margin: 0 auto 16px auto;
    font-size: 50px;
    line-height: 55px;
  }
  
  .cover__subtitle {
    padding: 0 0 100px 0;
    margin: 0 auto 16px auto;
    font-size: 16px;
    line-height: 16px;
  }
}

@media screen and (max-width: 500px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 20px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
  
  .photo-grid {
    padding-left: 16px;
    padding-right: 16px;
    grid-template-columns: 1fr;
  }

  .place {
    display: block;
    margin: 50px 0 0 0;
  }

  .place__title {
    margin-left: 16px;
  }

  .place__website-url-heading {
    margin: 32px 16px 12px 16px;
  }
  
  .place__website-link {
    display: block;
    margin: 0 0 32px 16px;
  }

  .place__paragraph {
    margin: 32px 16px 25px 16px;
  }

  .cover__title {
    padding: 70px 0 0 0;
    margin: 0 auto 16px auto;
    font-size: 50px;
    line-height: 55px;
  }
  
  .cover__subtitle {
    padding: 0 0 70px 0;
    margin: 0 auto 16px auto;
    font-size: 16px;
    line-height: 16px;
  }

  .footer {
    margin-top: 64px;
  } 

  .footer__nav {
    display: block;
  }

  .footer__link{
    display: block;
    font-size: 24px;
    line-height: 24px;
    margin: 32px 0 32px 0;
  }

  .footer__copyright {
    text-align: start;
    padding-left: 16px;
  }

}

@media screen and (max-width: 420px) {
  .cover__title {
    padding: 70px 0 0 0;
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    padding: 0 0 70px 0;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 330px) {
  .cover__title {
    padding: 33px 0 0 0;
  }

  .cover__subtitle {
    padding: 0 0 33px 0;
  }
}