.place__paragraph {
  margin: 26px 0 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
}

.place__paragraph:first-child {
  margin-top: 0;
}

@media screen and (max-width: 850px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 500px) {
  .place__paragraph {
    margin: 0 16px 0 16px;
  }

  .place__paragraph:first-child {
    margin-top: 32px;
    margin-bottom: 25px;
  }

}

