.lead__subtitle {
  text-align: center;
  margin: 32px auto 64px auto;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {  
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 675px) {
  .lead__subtitle {
     margin-bottom: 56px;
     font-size: 18px;
     line-height: 20px;
   }
} 

@media screen and (max-width: 500px) {
  .lead__subtitle {
    margin: 16px 16px 40px 16px;
    font-size: 16px;
    line-height: 20px;
  }
}