.cover {
  max-width: 1280px;
  margin: 92px auto;
}

@media screen and (max-width: 850px) { 
  .cover {
    margin: 90px auto;
  }
}

@media screen and (max-width: 675px) {
  .cover {
    margin: 90px 0 88px 0;
  }
}


@media screen and (max-width: 500px) {   
  .cover {
    margin: 66px 0 64px 0;
  }
}

