.cover__title {
  position: relative;
  max-width: 560px;
  text-align: center;
  margin: 0 auto 32px auto;
  padding: 0 0 0 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  z-index: 1;
}

@media screen and (max-width: 610px) {
  .cover__title {
    margin: 0 auto 16px auto;
    font-size: 50px;
    line-height: 55px;
  }
}

@media screen and (max-width: 500px) {
  .cover__title {
    margin: 0 auto 16px auto;
    font-size: 50px;
    line-height: 55px;
  }
}

@media screen and (max-width: 420px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
