.footer {
  max-width: 1280px;
  margin: 0 auto 24px auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 675px) {
  .footer {
    display: block;
  }
}

@media screen and (max-width: 500px) {   
  .footer {
    margin-top: 64px;
  } 
}